variable "project_prefix" {
  type        = string
  description = "prefix string put in front of string"
  default     = "f5xc"
}

variable "project_suffix" {
  type        = string
  description = "prefix string put at the end of string"
  default     = "01"
}

variable "f5xc_api_p12_file" {
  type    = string
}

variable "f5xc_api_url" {
  type    = string
}

module "f5xc_virtual_site" {
  source                 = "./modules/f5xc/site/virtual"
  f5xc_api_p12_file      = var.f5xc_api_p12_file
  f5xc_api_url           = var.f5xc_api_url
  f5xc_namespace         = "system"
  f5xc_virtual_site_name = format("%s-virtual-site-%s", var.project_prefix, var.project_suffix)
  f5xc_virtual_site_type = "CUSTOMER_EDGE"
  f5xc_virtual_site_selector_expression = [ "a_group in (gcp-sites)" ]
}